<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if(user){ %>
      <form method="POST" action="/logout" class='form-inline'>
        <h7>Welcome <%=user.email%>!</h7>
      <button type="submit" class="btn btn-success ml-2">Logout</button>
    </form>
    <% } else{ %> 
      <form method="GET" action="/register" class='form-inline'> 
      <button type="submit" class="btn btn-success ml-2">Register</button>
    </form>
      <form method="GET" action="/login" class='form-inline'>
        <button type="submit" class="btn btn-success ml-2">Log In</button>
      </form>
   <% } %>






    
  </nav>
</header>